<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hello.css') }}">

</head>

<body>
<div class="container">

    <h1 class="text-center">Login</h1>
    <form method="post" action="/login">
        <label class="col-one-half">

        </label>
        <label class="col-one-half">

        </label>
        <label>
            <span class="label-text">Email</span>
            <input type="email" name="email" required>
        </label>
        <label class="password">
            <span class="label-text">Password</span>
            <input type="password" name="password" required>
        </label>

        <div class="text-center">
            <button class="submit" type="submit">Login</button>
        </div><br>
        <p>Not a member yet? <a href="{{ url_for('static', filename='SignIn.html') }}">Join Us</a> </p>
    </form>
</div>


</body>
</html>
